<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Azamgarath Applications</title>
</head>
<body>
<div class="container">
    <div th:insert="fragments/navbar.html"> </div>
	<h1>Start Creating Your Character:</h1>
    <form action="#" th:action="@{/stage2}" th:object="${newcharacter}" method="post">
    	<div class="jumbotron">
		<table class="table table-striped">
    		<thead class="thead-dark">
    			<tr>
        		<th scope="col">Strength</th>
       			<th scope="col">Dexterity</th>
       			<th scope="col">Intelligence</th>
       			<th scope="col">Wisdom</th>
        		<th scope="col">Constitution</th>
        		<th scope="col">Charisma</th> 
     			</tr>
    		</thead>
   			<tbody>
   			 	<tr>
        		<td> <input type="number" min="0" max="20" style="width: 3em" th:field="*{talents.strength}"></td>
        		<td> <input type="number" min="0" max="20" style="width: 3em" th:field="${newcharacter.talents.dexterity}"></td>
        		<td> <input type="number" min="0" max="20" style="width: 3em" th:field="${newcharacter.talents.intelligence}"></td>
        		<td> <input type="number" min="0" max="20" style="width: 3em" th:field="${newcharacter.talents.wisdom}"></td>
       			<td> <input type="number" min="0" max="20" style="width: 3em" th:field="${newcharacter.talents.constitution}"></td>
        		<td> <input type="number" min="0" max="20" style="width: 3em" th:field="${newcharacter.talents.charisma}"></td>
    			</tr>
    		</tbody>
		</table>

		<table class="table table-striped">
    <tr>
    <td>Level:</td>
    <td> <input type="number"  min="1" max="20" style="width: 3em" th:field="${newcharacter.level}"></td></tr>

    <tr>
    <td>Class:</td>
    <td>
		<select name="profession">
    		<option th:each="professionOpt : ${T(com.azamgarath.cc1.core.EnumProfession).values()}"
        		th:value="${professionOpt}" th:text="${professionOpt}">
    		</option>
		</select>
	</td></tr>
    <tr>
    <td>Race:</td>
    <td>
		<select name="race">
    		<option th:each="raceOpt : ${T(com.azamgarath.cc1.core.EnumRace).values()}"
        		th:value="${raceOpt}" th:text="${raceOpt}">
    		</option>
		</select>
	</td></tr>
    
    </table>
    </div>
    <p><input type="submit" value="Next" />
    </form>
    
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>